@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url("/fonts/Montserrat-Regular.woff2"),
        url("/fonts/Montserrat-Regular.woff");
}

@font-face {
    font-family: Montserrat;
    font-weight: 600;
    src: url("/fonts/Montserrat-SemiBold.woff2"),
        url("/fonts/Montserrat-SemiBold.woff");
}

@font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url("/fonts/Montserrat-Bold.woff2"),
        url("/fonts/Montserrat-Bold.woff");
}

@font-face {
    font-family: Montserrat;
    font-weight: 800;
    src: url("/fonts/Montserrat-ExtraBold.woff2"),
        url("/fonts/Montserrat-ExtraBold.woff");
}

/* common classes */
* {
    box-sizing: border-box;
}

.gray-text {
    color: #CACACA;
}

*:focus {
    outline: 2px solid #FF9900;
}

*:active {
    outline: 0;
}

ul {
    padding: 0;
}

body {
    background-color: #FFF;
}

.container {
    margin-left: auto;
    margin-right: auto;

    width: 1770px;
}

.section-heading {
    margin: 0;

    color: #333;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 400;
    line-height: 1;
}

.section-content-font {
    color: #333;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.subheading {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #333333;

    margin: 0px 0px 9px 0px;
}

.button {
    display: inline-block;
    background-color: #FF9900;
    color: #FFF;
    padding: 20px 38px;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;

    text-decoration: none;
}

.button:hover,
.button:focus {
    background-color: rgba(255, 153, 00, .7);
    outline: none;
}

.button:active {
    background-color: #E1670E;
}

.button2 {
    padding: 22px 38px;
}

.button2:hover,
.button2:focus {
    background-color: #F7B045;
}

.button2:active {
    background-color: #E1670E;
}

.transparent-button-orange {
    padding: 19px 35px;
    border: 3px solid #FF9900;
    background-color: transparent;
}

.transparent-button-orange:hover,
.transparent-button-orange:focus {
    background-color: #FF9900;
    border-color: #FF9900;
}

.transparent-button-orange:active {
    background-color: #E1670E;
    border-color: #E1670E;
}

.transparent-button-gray {
    padding: 21px 37px;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;

    border: 1px solid #333333;
    background: transparent;
    color: #333333;
}

.transparent-button-gray:focus,
.transparent-button-gray:hover {
    background-color: #666666;
    border-color: #666666;
    color: #FFF;
}

.transparent-button-gray:active {
    background-color: #000;
    border-color: #000;
    color: #FFF;
}

/* header */
.header {
    display: block;
    height: 100px;
    position: relative;

    box-shadow: 0px 4px 3px 0px rgb(0 0 0 / 24%);
}

.header__container {
    /* padding: 14px 0px 14px 0px; */
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger {
    display: none;
}

.top-nav__list {
    list-style: none;
    align-items: center;
}

.top-nav__item {
    display: inline-block;
}

.top-nav__item:not(:last-child) {
    margin-right: 68px;
}

.top-nav__link {
    padding: 5px;

    user-select: none;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    color: #333333;

    border: 2px solid transparent;
}

.top-nav__link:hover {
    border-bottom: 2px solid #FF9900;
}

.top-nav__link:focus {
    border: 2px solid #FF9900;
    outline: none;
}

.top-nav__link:active {
    color: #E1670E;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #E1670E;
}

.top-nav__search-button {
    padding: 2px;

    transform: translate(3px, -2px);

    cursor: pointer;
    border: 0;
    background-color: transparent;
    text-align: center;
}

.top-nav__search-icon {
    display: inline;
    vertical-align: middle;

    width: 24px;
    height: 24px;
}

.top-nav__search-button:hover path {
    stroke: #FF9900;
}

.top-nav__search-button:hover rect {
    fill: #FF9900;
}

.top-nav__search-button:active {
    outline: 0;
}

.top-nav__search-button:active path {
    stroke: #FF9900;
}

.top-nav__search-button:active rect {
    fill: #FF9900;
}

/* hero */
.hero {
    margin-bottom: 105px;
}

.hero__container {
    padding: 100px 80px 100px 80px;
    min-height: 620px;

    background-image: url("/img/hero/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__heading {
    max-width: 850px;
    margin: 0px 0px 25px 0px;

    overflow-wrap: anywhere;

    color: #FFF;
    font-family: Montserrat;
    font-size: 70px;
    font-weight: 800;
    line-height: 85px;
}

.hero__button {
    padding: 24px 39.5px;

    font-family: Montserrat;
    font-size: 23px;
    font-weight: 700;
    line-height: 28.6px;
}

.hero__content {
    max-width: 850px;
    margin: 0px 0px 90px 0px;

    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

/* about */
.about {
    margin-bottom: 106px;
}

.about__heading {
    margin-bottom: 25px;
}

.about__content {
    margin: 0;
    margin-bottom: 50px;
    max-width: 1235px;
}

.about__card-block {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.about__card-block-right {
    flex: 1 1 870px;
    /* min-width: 870px; */
}

.about__card-block-left {
    /* height: 622px; */
    /* width: 868px; */
    /* margin-right: 32px; */
    /* aspect-ratio: 868 / 622; */
    aspect-ratio: 924 / 640;

    flex: 1 1 868px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    background-image: url("/img/about/about__img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.about__card-block-left-content-outer {
    display: none;
}

.about__card-block-left-content {
    padding: 50px;
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, 0.5);

    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
}

.about__card-block-left-text {
    margin: 0px;
    max-width: 58%;
}

.card1 {
    height: 295px;
    padding: 65px 100px 0 300px;

    border: 1px solid #CACACA;
    background-position: 60px 50%;
    background-repeat: no-repeat;
}

.card1:first-child {
    margin-bottom: 32px;
}

.card1__img-mechanism {
    background-image: url("/img/about/about__mechanism-decoration.svg");
}

.card1__img-box {
    background-image: url("/img/about/about__box-decoration.svg");
}

.card1__content {
    max-width: 450px;
}

/* how-we-work */
.how-we-work {
    margin-bottom: 104px;
}

.how-we-work__container {
    margin-bottom: 100px;
}

.how-we-work__heading {
    margin: 0 0 51px 0;
}

.work-steps {
    margin-bottom: 46px;
    transform: translateX(-5px);
}

.work-steps__step {
    display: inline-block;
    padding: 3px;

    border: 2px solid transparent;
    color: #333333;

    text-decoration: none;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}

.work-steps__step:not(:last-child) {
    margin-right: 71px;
}

.work-steps__step:hover {
    color: #FF9900;
}

.work-steps__step:focus {
    border-color: #FF9900;
    outline: none;
}

.work-steps__step:active {
    color: #E1670E;
    border-color: transparent;
}

.work-steps__active {
    color: #E1670E;
}

.how-we-work__content {
    margin: 0;
}

.how-we-work__buttons {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.how-we-work__button:not(:last-child) {
    margin-right: 28px;
}

.how-we-work__slides {
    position: relative;
}

.how-we-work__slide {
    display: none;
    min-height: 460px;
    gap: 140px;
    /* padding-right: 58%; */
}

.how-we-work__slide-left {
    /* width: 40%; */
    padding-bottom: 110px;
    flex: 1 1 900px;
}

.how-we-work__slide-right {
    flex: 0 1 870px;
    min-width: 437px;
    margin-top: 9px;
}

.how-we-work__slide:nth-child(1) .how-we-work__slide-right {
    background: url("/img/how-we-work/step1.jpg") no-repeat bottom;
    background-size: cover;
}

.how-we-work__slide:nth-child(2) .how-we-work__slide-right {
    background: url("/img/how-we-work/step2.jpg") no-repeat bottom;
}

.how-we-work__slide:nth-child(3) .how-we-work__slide-right {
    background: url("/img/how-we-work/step3.jpg") no-repeat bottom;
}

.how-we-work__slide:nth-child(4) .how-we-work__slide-right {
    background: url("/img/how-we-work/step4.jpg") no-repeat bottom;
}

.how-we-work__slide--visible {
    display: flex;
}

/* faq */
.faq {
    margin-bottom: 100px;
}

.faq__heading {
    margin-bottom: 50px;
}

.faq__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;
    margin: 0px;

    border-top: 1px solid #CACACA;
}

.faq__fake-item {
    margin: 0;
    padding: 0;
}

.faq__spoiler-button {
    width: 50px;
    height: 50px;
    flex: 0 0 50px;
    display: inline-block;
}

.faq__item:hover {
    border-color: #FF9900;
}

.faq__item:hover+.faq__item,
.faq__item:hover+.faq__item {
    border-color: #FF9900;
}

.faq__item:hover .faq__item-subheading,
.faq__item:focus .faq__item-subheading {
    color: #FF9900;
}


.faq__item:hover .faq__ellipse,
.faq__item:focus .faq__ellipse {
    fill: #FF9900;
}

.faq__item:hover .faq__plus,
.faq__item:focus .faq__plus {
    fill: #FFF;
}

.faq__item-opened .faq__plus {
    transform-origin: 50% 50%;
    transform: rotate(45deg);
}

.faq__headline {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
    align-items: center;
}

.faq__item-subheading {
    /* flex: 1 1; */
    padding-right: 12%;
    margin: 0;
    line-height: 32px;
}

.faq__item-content {
    flex: 0 0 100%;
    margin-top: 30px;
    display: none;
}

/* footer */
.footer {
    background-color: #222222;
}

.footer__container {
    display: flex;

    padding: 50px 0px;
}

.footer__left,
.footer__right,
.footer__center {
    flex: 1 1 33.3%;
}

.footer__logo {
    width: 224px;
    height: 72px;
    display: inline-block;
    margin-bottom: 15px;

    background: url("/img/footer/footer-logo.png") no-repeat center center;
}

.footer-nav__list {
    list-style: none;
    margin: 0;
    transform: translateX(-5px);
}

.footer-nav__link {
    padding: 5px;

    user-select: none;
    color: #CACACA;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
}

.footer-nav__link:hover {
    color: #FF9900;
}

.footer-nav__link:focus {
    outline: 2px solid #FF9900;
}

.footer-nav__link:active {
    color: #E1670E;
    outline: 0;
}

.footer__heading {
    color: #CACACA;
    margin-top: 4px;
    margin-bottom: 31px;
}

.footer__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__content {
    padding-right: 10px;
    padding-left: 236px;
    margin: 0;


    color: #CACACA;
}

.footer__center {
    flex: 0 1 570px;
}

.footer-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-form__text-input {
    display: block;
    flex: 0 0 100%;
    height: 60px;
    width: 100%;
    margin-bottom: 25px;
    padding-left: 24px;

    color: #FFF;
    background-color: #414141;
    border: none;
}

.footer-form__text-input::placeholder {
    color: #CACACA;
}

.footer-form__textarea {
    padding: 14px 24px;
    height: 150px;
    margin-bottom: 32px;

    resize: none;
}

.footer-form__submit {
    padding: 20px 52px;
}

.footer-form__checkbox-area {
    transform: translateX(5px);
}

.custom-footer-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-footer-checkbox__label {
    padding: 4px;


    user-select: none;
    color: #CACACA;
    border: 2px solid transparent;
}

.custom-footer-checkbox:focus+.custom-footer-checkbox__label {
    border: 2px solid #FF9900;
}

.custom-footer-checkbox:checked+.custom-footer-checkbox__label path {
    stroke: #97EE3F;
}

.custom-footer-checkbox+.custom-footer-checkbox__label path {
    stroke: transparent;
}

.footer__left {
    position: relative;
}

.footer__socials {
    position: absolute;
    transform: translate(-5px, 7px);
    left: 0px;
    bottom: 0px;
}

.footer__social-link {
    margin-right: 11px;

    line-height: 0;
    display: inline-block;
}

.footer__social-icon {
    box-sizing: content-box;
    padding: 5px;
    width: 60px;
    height: 60px;
}

.footer__social-link:hover .footer__social-icon path {
    fill: #FF9900;
}

.footer__social-link:active .footer__social-icon path {
    fill: #E1670E;
    outline: 0px;
}

@media (max-width: 1870px) {
    .container {
        width: auto;
        margin: 0 50px;
    }
}

@media (max-width: 1340px) {
    .top-nav__item {
        display: none;
    }

    .header__burger {
        display: block;
    }

    .footer__center {
        flex-basis: 540px;
    }

    .footer-form__submit {
        padding: 20px 37px;
    }
}

@media (max-width: 1100px) {
    .hero__heading {
        font-size: 60px;
    }

    .hero__content {
        font-size: 20px;
    }
}

@media (max-width: 1230px) {
    .how-we-work__slide {
        gap: 50px;
    }

    .hero__container {
        background-image: url("/img/hero/bg1-1.jpg");
    }

}

@media (max-width: 1699px) {
    .footer__right {
        display: none;
    }
}

@media (max-width: 1024px) {
    
    .header__container {
        padding-top: 5px;
    }

    .header__logo {
        width: 150px;
        height: 48px;
    }

    .hero__container {
        padding: 155px 77px 160px 77px;
    }

    .hero__heading {
        line-height: 77px;
        margin-bottom: 10px;
    }

    .hero__content {
        line-height: 25px;
        margin-bottom: 61px;
    }

    .hero {
        margin-bottom: 87px;
    }

    .about {
        margin-bottom: 86px;
    }

    .about__heading {
        margin-bottom: 14px;
    }

    .about__content {
        margin-bottom: 63px;
    }

    .card1 {
        padding-left: 316px;

        background-position: 75px 50%;
    }

    .how-we-work {
        margin-bottom: 86px;
    }

    .work-steps {
        margin-bottom: 51px;
    }

    .how-we-work__slide-left {
        padding-bottom: 85px;
    }

    .faq {
        margin-bottom: 79px;
    }

    .faq__heading {
        margin-bottom: 37px;
    }

    .faq__item-subheading {
        font-size: 20px;
    }
}

@media (max-width: 955px) {
    .section-heading {
        font-size: 48px;
    }

    .hero__container {
        padding: 160px 40px;
    }

    .hero__heading {
        font-size: 50px;
        line-height: 61px;
    }

    .hero__content {
        font-size: 18px;
    }

    .about__card-block-left {
        aspect-ratio: 668 / 650;
    }

    .about__card-block-left-text {
        max-width: 62%;
    }

    .about__card-block-left-content {
        padding: 34px 40px;
    }

    .card1 {
        background-size: 114px 99px;
        background-position: 40px 50%;
        padding: 35px 35px 35px 170px;
        height: 235px;
    }



    .footer__container {
        flex-direction: column-reverse;
    }

    .footer__left {
        padding-bottom: 60px;
    }

    .footer-nav__list {
        display: none;
    }

    .footer__center {
        width: 81%;
    }
}

@media (max-width: 999px) {
    .work-steps {
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    .work-steps__step {
        margin-right: 0 !important;
    }

    .how-we-work__slide {
        flex-wrap: wrap-reverse;
        gap: 40px;
    }

    .how-we-work__slide-right {
        aspect-ratio: 668 / 284;
        margin-top: 0px;
        background-position: center center !important;
    }
}

@media (max-width: 768px) {
    .header {
        height: 69px;
    }

    .header__container {
        padding-top: 0px;
    }   
    
    .faq__item-subheading {
        padding-right: 7%;
    }

    .faq__heading {
        line-height: 1.1;
    }

    .about__content {
        margin-bottom: 57px;
    }
}

@media (max-width: 750px) {
    .about {
        margin-bottom: 130px;
    }
    .about__heading {
        margin-bottom: 22px;
    }

    .about__card-block-left-content {
        display: none;
    }

    .about__card-block-left-text {
        max-width: unset;
        margin-bottom: 13px;

        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
    }

    .about__card-block-left-content-outer {
        display: block;
    }

    .card1 {
        padding: 84px 0 0 0;
        background-size: 69px auto;
        background-position: 0 16px;
        border: 0;
    }

    .card1:first-child {
        margin-bottom: 46px;
    }

    .card1__heading {
        margin-bottom: 2px;
    }

    .about__content {
        margin-bottom: 13px;
    }
    
    .about__card-block {
        gap: 7px;
    }

    .about__card-block-left {
        aspect-ratio: 924 / 640;
    }

    .about__card-block-left__button {
        color: #FF9900;
    }

    .about__card-block-left__button:focus {
        color: #FFF;
    }
}

@media (max-width: 520px) {

    .container {
        margin-right: 15px;
        margin-left: 15px;
    }

    .button {
        font-size: 12px;
        padding: 10px 41px;
    }

    .section-heading {
        font-size: 24px;
    }


    .how-we-work__slide-right {
        aspect-ratio: 290 / 160;
        min-width: unset;
        
        margin-bottom: 5px;
    }

    .footer__container {
        padding: 30px 0;
    }

    .footer__heading {
        margin-bottom: 23px;
    }

    .footer__center {
        width: unset;
        border-bottom: 1px solid #595959;
        flex-basis: 495px;
    }

    .footer-form {
        justify-content: center;
    }

    .footer__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__socials {
        position: inherit;
    }

    .footer__social-link {
        width: auto;
        height: auto;
        margin-right: 2px;
    }

    .footer__social-link:not(:last-child) {
        margin-right: 1px;
    }

    .footer-form__textarea {
        margin-bottom: 24px;
    }

    .footer-form__submit {
        padding: 14px 28px;
        margin-bottom: 12px;
    }

    .custom-footer-checkbox__label {
        font-size: 16px;
    }

    .footer__logo {
        width: 131px;
        height: 42px;

        margin-top: 18px;
        margin-bottom: 3px;
        background-size: contain;
    }

    .footer__social-icon {
        width: 40px;
        height: 40px;
    }


    .section-content-font {
        font-size: 14px;
        line-height: 2;
    }

    .subheading {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.35;
    }

    .header__container {
        padding-top: 4px;
    }

    .header__logo {
        width: 110px;
        height: 35px;
    }

    .hero {
        margin-bottom: 63px;
    }

    .hero__container {
        padding: 60px 22px;

        min-height: unset;
        text-align: center;
    }

    .hero__heading {
        font-size: 20px;
        line-height: 1.2;
    }

    .hero__content {
        font-size: 12px;
        line-height: 1.2;
        margin-bottom: 32px;
    }
    
    .hero__button {
        padding: 6px 29px;
    }

    
    .how-we-work__heading {
        margin-bottom: 21px;
    }

    .how-we-work__slide {
        gap: 16px;
    }

    .how-we-work__button:not(:last-child) {
        margin-right: 10px;
    }

    .how-we-work__buttons .button:nth-child(2) {
        padding: 9px 32px;
    }

    .work-steps {
        margin-bottom: 12px;
    }

    .work-steps__step {
        font-size: 14px;
    }

    .how-we-work {
        margin-bottom: 69px;
    }

    .how-we-work__slide-left {
        padding-bottom: 50px;
    }

    .faq {
        margin-bottom: 27px;
    }

    .faq__heading {
        margin-bottom: 20px;
    }

    .faq__item {
        padding: 33px 0;
    }

    .faq__item:last-child {
        padding-bottom: 0px;
    }

    .faq__item-subheading {
        max-width: 80%;

        font-size: 14px;
        padding-right: 0;
        line-height: 1.55;
    }

    .faq__spoiler-button {
        flex: 0 0 30px;
        width: 30px;
        height: 30px;
    }
}


@media (max-width: 320px) {


}