@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url("/fonts/Montserrat-Regular.woff2"),
        url("/fonts/Montserrat-Regular.woff");
}

@font-face {
    font-family: Montserrat;
    font-weight: 600;
    src: url("/fonts/Montserrat-SemiBold.woff2"),
        url("/fonts/Montserrat-SemiBold.woff");
}

@font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url("/fonts/Montserrat-Bold.woff2"),
        url("/fonts/Montserrat-Bold.woff");
}

@font-face {
    font-family: Montserrat;
    font-weight: 800;
    src: url("/fonts/Montserrat-ExtraBold.woff2"),
        url("/fonts/Montserrat-ExtraBold.woff");
}

/* common classes */
* {
    box-sizing: border-box;
}

ul {
    padding: 0;
}

body {
    background-color: #FFF;
}

.container {
    margin-left: auto;
    margin-right: auto;

    width: 1770px;
}

.section-heading {
    margin: 0;

    color: #333;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 400;
    line-height: 1; 
}

.section-content {
    color: #333;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.button {
    display: inline-block;
    background-color: #FF9900;
    color: #FFF;
    padding: 20px 38px;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;

    text-decoration: none;
}

.button:hover,
.button:focus {
    background-color: rgba(255, 153, 00, .7);
    outline: none;
}

.button:active {
    background-color: #E1670E;
}

/* header */
.header {
    display: block;
    height: 100px;
    position: relative;

    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.header__container {
    padding: 14px 0px 14px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav__list {
    list-style: none;
    align-items: center;
}

.top-nav__item {
    display: inline-block;
}

.top-nav__item:not(:last-child) {
    margin-right: 85px;
}

.top-nav__link {
    padding: 5px;

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    color: #333333;

    border: 2px solid transparent;
}

.top-nav__link:hover {
    border-bottom: 2px solid #FF9900;
}

.top-nav__link:focus {
    border: 2px solid #FF9900;
    outline: none;
}

.top-nav__link:active {
    color: #E1670E;
    border: 2px solid #E1670E;
}

.top-nav__search-button {
    padding: 2px;
    width: 28px;
    height: 28px;

    cursor: pointer;
    border: 2px solid transparent;
    background-color: transparent;
    text-align: center;
}

.top-nav__search-icon {
    display: inline;
    vertical-align: middle;
    transform: translate(-2px, -2px);

    border: 2px solid transparent;
    width: 24px;
    height: 24px;
}

.top-nav__search-button:hover path {
    stroke: #FF9900;
}

.top-nav__search-button:hover rect {
    fill: #FF9900;
}

.top-nav__search-button:focus {
    border: 2px solid #FF9900;
    outline: 0;
}

.top-nav__search-button:active {
    border: 2px solid transparent;
}

.top-nav__search-button:active path {
    stroke: #FF9900;
}

.top-nav__search-button:active rect {
    fill: #FF9900;
}

/* hero */
.hero__container {
    padding: 100px 0px 100px 80px;

    background-image: url("/img/hero/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__heading {
    max-width: 55%;
    margin: 0px 0px 20px 0px;

    color: #FFF;
    font-family: Montserrat;
    font-size: 70px;
    font-weight: 800;
    line-height: 85px;
}

.hero__button {
    padding: 25px 37px;
}

.hero__content {
    max-width: 50%;
    margin: 0px 0px 90px 0px;

    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

/* about */
.about__heading {
    margin-top: 100px;
    margin-bottom: 20px;
}

.about__content {
    margin-bottom: 50px;
    width: 69.5%;
}

.about__card-block {
    display: flex;
}

.about__card-block-left {
    background-image: url("/img/about/about__img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 622px;
    width: 50%;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.about__card-block-left-content {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: rgba(0, 0, 0, 0.5);

    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
}

.about__card-block-left-text {
    margin: 0px;
    max-width: 70%;
}

.about__card-block-left__button {

}
/* 
@media (max-width: 1920px) {
    .container {
        width: 80vw;
    }
} */

@media (max-width: 1769px) {
    .container {
        width: auto;
        margin: 0 !important;
    }
}

@media (max-width: 1499px) {
    .top-nav {
        display: none;
    }
}